{% extends 'bootstrap/base.html' %}
<html>
    <head>
        <title>Welcome to Cogna!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>         
        {% block navbar %}
        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index">Cadastro</a></li>
                <li ><a href="cert">Certificado</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </div>
          </nav>        
        {% endblock %}
        
        {% block page %}

        {% endblock %}

        {% block scripts %}
        {{ super() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
</html>